{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
      
    </div>
    <div class="col-sm">
        <h3>FICHEROS DE VIGILANCIA DE GRIPE para el SVGE</h3>
        <a href="{{ asset('centinela/anexoa.txt') }}" class="btn btn-info" role="button">Ver fichero .txt población anual</a> 
        <br>
        <a href="{{ asset('centinela/anexob.txt') }}" class="btn btn-info" role="button">Ver fichero .txt semanal de casos</a>
    </div>
    <div class="col-sm">
      
    </div>
       
        </div>
    
    
     <div class="row">
            <div class="col-sm">
      
    </div>
    <div class="col-sm">
        
        
        
        

    </div>
    <div class="col-sm">
      
    </div>
     






        </div>
    
    
    
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
